@import '../dist/animation.css';

* {
  margin: 0;
  padding: 0;
  //overflow: hidden;
}

body {
  background-color: #222226;
  height: 100dvh;
  width: 100dvw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100dvh;
  width: 100dvw;

  .image-container {
    position: absolute;
    //height: 80dvh;
    //width: 90dvw;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .image {
      height: 20dvh;
      width: 22.5dvh;

      img {
        height: 20dvh;
        width: 22.5dvh;
        // 1125 = 45
        // 1000 = ?

        // 1000 = 20
        // 1125 = 22,5
      }
    }

    .slice1 {

    }
    .slice2 {

    }
    .slice3 {

    }
    .slice4 {

    }
    .slice5 {

    }
    .slice6 {

    }
    .slice7 {

    }
    .freeSlice {
      img {
        display: none;
      }
    }

    .chosenImage {
    }
  }


  .controls-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    .middleButtons {
      display: flex;
      flex-direction: column;
    }

    button {
      height: 50px;
      width: 50px;
      margin: 10px;
      background-color: #c2c2c2;
    }
  }
}

